Montserrat = 'Montserrat'

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Regular.eot');
	src: url('../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
		url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat/Montserrat-Semibold.eot');
	src: url('../fonts/Montserrat/Montserrat-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Montserrat/Montserrat-Semibold.woff2') format('woff2'),
		url('../fonts/Montserrat/Montserrat-Semibold.woff') format('woff'),
		url('../fonts/Montserrat/Montserrat-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
