section.authreg#authreg
  .wrap
    .authreg-container
      .authreg-close
        svg(xmlns:xlink="http://www.w3.org/1999/xlink" fill="#141414" enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve")
          polygon(points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 ")
      
      h3.authreg__title Войти
      
      form.authreg-form
        input(type="text" placeholder="Как там тебя зовут?").authreg-input
        input(type="password" placeholder="Приложи сетчатку глаза.").authreg-input
        .authreg-social
          a(href="#").authreg-social__item
            svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#141414")
              path(d="M21.54736,7H18.25688a.74281.74281,0,0,0-.65452.39156s-1.31237,2.41693-1.73392,3.231C14.73438,12.8125,14,12.125,14,11.10863V7.60417A1.10417,1.10417,0,0,0,12.89583,6.5h-2.474a1.9818,1.9818,0,0,0-1.751.8125s1.25626-.20312,1.25626,1.48958c0,.41974.02162,1.62723.04132,2.64a.72943.72943,0,0,1-1.273.50431,21.54029,21.54029,0,0,1-2.4982-4.54359A.69314.69314,0,0,0,5.5668,7C4.8532,7,3.42522,7,2.57719,7a.508.508,0,0,0-.47969.68481C3.00529,10.17487,6.91576,18,11.37917,18h1.87865A.74219.74219,0,0,0,14,17.25781V16.12342a.7293.7293,0,0,1,1.22868-.5315l2.24861,2.1127A1.08911,1.08911,0,0,0,18.223,18h2.95281c1.42415,0,1.42415-.98824.64768-1.75294-.54645-.53817-2.51832-2.61663-2.51832-2.61663A1.01862,1.01862,0,0,1,19.2268,12.307c.63737-.83876,1.67988-2.21175,2.122-2.79993C21.95313,8.70313,23.04688,7,21.54736,7Z")
          a(href="#").authreg-social__item
            svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#141414")
              path(d="M16.75,9H13.5V7a1,1,0,0,1,1-1h2V3H14a4,4,0,0,0-4,4V9H8v3h2v9h3.5V12H16Z")
          a(href="#").authreg-social__item
            svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#141414")
              circle(cx="16" cy="8" r="4")
              path(d="M12.58331,8.83331C12.37488,8.83331,12,9.26563,12,9.5A8.5,8.5,0,0,1,3.5,18a8.52217,8.52217,0,0,1-1.28479-.1073A11.41717,11.41717,0,0,0,20,8.41663C20,7.681,15.31757,8.83331,12.58331,8.83331Z")
              path(d="M12.58331,8.83331a11.385,11.385,0,0,1-8.69452-4.028A3.93758,3.93758,0,0,0,3.35,6.77081,3.9792,3.9792,0,0,0,7.32916,10.75c2.12482,0,5.89844.02264,6.14691-1.96179C13.18054,8.81116,12.8847,8.83331,12.58331,8.83331Z")
              path(d="M5.24585,10.04163a3.93437,3.93437,0,0,1-1.88977-.49774c-.00031.02057-.0061.03961-.0061.06024a3.9792,3.9792,0,0,0,3.97919,3.97919c2.19763,0,5.275-1.594,5.275-3.79165C12.60417,8.282,7.42285,10.04163,5.24585,10.04163Z")
              path(d="M7.72642,12.99649a3.90991,3.90991,0,0,1-3.02909.52286A3.96636,3.96636,0,0,0,8.49585,16.375a5.25835,5.25835,0,0,0,4.67082-4.66667C13.16667,9.81478,8.82831,12.28888,7.72642,12.99649Z")
              path(d="M17.61041,5.37915c-1.32214,0-1.63562,1.6604.075,1.6604a3.96629,3.96629,0,0,0,3.754-2.71222A7.49909,7.49909,0,0,1,17.61041,5.37915Z")
              path(d="M18.82916,6.5354a7.52209,7.52209,0,0,1-2.93716-.593c-2.70831-1.14551-4.35526,3.343-.18784,3.343A7.53392,7.53392,0,0,0,22.05579,5.803,7.50268,7.50268,0,0,1,18.82916,6.5354Z")
          a(href="#").authreg-social__item
            svg(height="24px" style="enable-background:new 0 0 56.6934 56.6934;" version="1.1" viewBox="0 0 56.6934 56.6934" width="56.6934px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              g
                path(d="M19.6671,25.7867c-0.0075,1.7935,0,3.5869,0.0076,5.3803c3.0067,0.098,6.0208,0.0527,9.0275,0.098   c-1.3262,6.6689-10.3989,8.8315-15.199,4.4761C8.5674,31.9206,8.801,23.5412,13.9327,19.992   c3.5869-2.8635,8.6884-2.1552,12.2752,0.324c1.4092-1.3036,2.7278-2.6977,4.0013-4.1445   c-2.984-2.3812-6.6462-4.0767-10.5421-3.8958c-8.1307-0.2713-15.6059,6.8497-15.7415,14.9805   c-0.52,6.6462,3.8506,13.1644,10.0222,15.5155c6.1489,2.3661,14.031,0.7535,17.957-4.77c2.5922-3.4889,3.1498-7.98,2.8484-12.1999 C29.7194,25.7641,24.6933,25.7716,19.6671,25.7867z")
                path(d="M49.0704,25.7641c-0.0151-1.4996-0.0226-3.0067-0.0301-4.5062c-1.4996,0-2.9916,0-4.4836,0   c-0.0151,1.4996-0.0301,2.9991-0.0377,4.5062c-1.5071,0.0075-3.0067,0.0151-4.5062,0.0302c0,1.4995,0,2.9915,0,4.4836   c1.4995,0.0151,3.0066,0.0302,4.5062,0.0452c0.0151,1.4996,0.0151,2.9991,0.0302,4.4987c1.4996,0,2.9916,0,4.4911,0   c0.0075-1.4996,0.015-2.9991,0.0301-4.5062c1.5071-0.0151,3.0067-0.0226,4.5062-0.0377c0-1.4921,0-2.9916,0-4.4836   C52.0771,25.7792,50.57,25.7792,49.0704,25.7641z")
          a(href="#").authreg-social__item
            svg(height="24" viewBox="0 0 1792 1792" width="24" xmlns="http://www.w3.org/2000/svg")
              path(d="M896 907q-188 0-321-133t-133-320q0-188 133-321t321-133 321 133 133 321q0 187-133 320t-321 133zm0-677q-92 0-157.5 65.5t-65.5 158.5q0 92 65.5 157.5t157.5 65.5 157.5-65.5 65.5-157.5q0-93-65.5-158.5t-157.5-65.5zm523 732q13 27 15 49.5t-4.5 40.5-26.5 38.5-42.5 37-61.5 41.5q-115 73-315 94l73 72 267 267q30 31 30 74t-30 73l-12 13q-31 30-74 30t-74-30q-67-68-267-268l-267 268q-31 30-74 30t-73-30l-12-13q-31-30-31-73t31-74l267-267 72-72q-203-21-317-94-39-25-61.5-41.5t-42.5-37-26.5-38.5-4.5-40.5 15-49.5q10-20 28-35t42-22 56 2 65 35q5 4 15 11t43 24.5 69 30.5 92 24 113 11q91 0 174-25.5t120-50.5l38-25q33-26 65-35t56-2 42 22 28 35z")
          a(href="#").authreg-social__item
            svg(enable-background="new 0 0 512 512" height="24px" id="Слой_1" version="1.1" viewBox="0 0 512 512" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink")
              path(d="M464.526,314.746l-0.063,0.031L245.193,22.29l-0.031,0.031C233.037,7.353,213.757,0.008,191.508,0.008  c-27.03,0-58.372,10.844-86.402,32.093c-51.154,38.749-72.278,97.59-47.966,132.62l-0.031,0.031l219.272,292.458l0.063-0.031 l188.491,54.813L464.526,314.746z M401.279,427.055c-7.25,5.5-12.063,13.031-14.281,21.221l-80.496-23.406  c19.344-29.623,25.719-66.061,17.844-100.371c30.654,17.063,67.246,20.969,100.935,10.404l0.219,84.217  C417.06,418.992,408.528,421.555,401.279,427.055z M233.068,71.693l20.624,27.53c-24.093,2.625-50.591,13.187-74.652,31.405  c-24.124,18.28-41.561,40.999-50.716,63.591l-20.593-27.499c0.75-3.5,1.718-6.625,2.593-9.218  c3.531-10.125,9.094-20.187,16.5-29.999c7.875-10.437,17.53-19.968,28.592-28.374c11.062-8.375,22.843-15.031,34.998-19.781  c11.406-4.468,22.593-7.062,33.249-7.656C226.381,71.538,229.568,71.475,233.068,71.693z M301.754,275.811L201.476,142.035 c8.344-5.406,17.031-9.906,25.936-13.375c11.375-4.469,22.593-7.031,33.25-7.688c2.688-0.125,5.874-0.156,9.374,0.031  l145.212,193.679c-13.874,3.814-28.499,4.814-43.153,2.75C343.876,313.434,318.908,298.652,301.754,275.811z M144.698,216.032  c0.75-3.468,1.719-6.593,2.594-9.188c3.562-10.125,9.093-20.218,16.53-29.999c5.75-7.656,12.468-14.812,19.937-21.374  l100.245,133.746l-0.031,0.031c17.156,22.842,24.438,51.061,20.47,79.402c-2.063,14.781-7.095,28.656-14.563,41L144.698,216.032z M128.73,63.601c10.593-8,21.811-14.218,33.342-18.437c10.25-3.719,20.437-5.687,29.436-5.687c10.75,0,19.218,2.812,23.187,7.75  l2.031,2.656c-24.093,2.656-50.591,13.218-74.653,31.436c-24.124,18.25-41.561,40.999-50.685,63.592l-2.063-2.75  C80.294,129.161,91.137,92.067,128.73,63.601z")
        .authreg-buttons
          input(type="submit" value="Войти").authreg-button
          .authreg-forget Напомнить пароль
