section.change
  //- .change-tabs
  //-   .wrap
  //-     .change-tabs__item.active Торговать
  //-     .change-tabs__item Инвестировать
  //-     .change-tabs__item Привлекать инвесторов
  .change-body
    .wrap
      .change-item.hidden
        p Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
        h3 Как это работает
        ol
          li Вы выбираете управляющего из рейтинга по фильтру Options
          li Подключаете свой счет к счету Управляющего
          li На вашем счете начинается копирование сделок
          li Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
          li Вы можете подключиться к нескольким Управляющим одновременно.
          li Вы можете отключиться от Управляющих в любой момент.
        .change-button Продолжить
      .change-item.hidden
        p Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
        h3 Как это работает
        ol
          li Вы выбираете управляющего из рейтинга по фильтру Options
          li Подключаете свой счет к счету Управляющего
          li На вашем счете начинается копирование сделок
          li Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
          li Вы можете подключиться к нескольким Управляющим одновременно.
          li Вы можете отключиться от Управляющих в любой момент.
        .change-button Продолжить
      .change-item.hidden
        p Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена!
        h3 Как это работает
        ol
          li Вы выбираете управляющего из рейтинга по фильтру Options
          li Подключаете свой счет к счету Управляющего
          li На вашем счете начинается копирование сделок
          li Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.
          li Вы можете подключиться к нескольким Управляющим одновременно.
          li Вы можете отключиться от Управляющих в любой момент.
        .change-button Продолжить
            
