section.choise.head
  .wrap
    h1.choise__title Выберите способ заработка
    .choise-body
      .choise-item
        .choise-container
          .choise-item__icon
            img(src="assets/images/icon-monitor.svg")
          p.choise-item__text Торговать
          img.choise-arrow(src="assets/images/arrow.svg")
      .choise-item
        .choise-container
          .choise-item__icon
            img(src="assets/images/icon-suitcase.svg")
          p.choise-item__text Инвестировать
          img.choise-arrow(src="assets/images/arrow.svg")
      .choise-item
        .choise-container
          .choise-item__icon
            img(src="assets/images/icon-people.svg")
          p.choise-item__text Привлекать инвесторов
          img.choise-arrow(src="assets/images/arrow.svg")
    .choise-slider
      .choise-slider__line
