section.comments
  .wrap
    h2.comments-title Комментарии
    form.comments-form
      textarea.comments-form__write(type="textarea" placeholder="Здравствуй, дорогая редакция, пишу вам с Северного полюса")
      .comments-form__button
        input(type="submit" value="Отправить")
        .comments-form__icon
          img(src="assets/images/airplane.svg")
    
    .comments-body
      .comments-item
        .comments-head
          .comments-user
            .comments-user__image(style="background-image: url('assets/images/mini-ava-4.jpg')")
              span.blue
                img(src="assets/images/emoji/D83CDFA9.png")
            .comments-user-info
              p.comments-user__title Димон Боровистов
              p.comments-user__text Диванный критик
          
          .comments__date 02.01.2019
        .comments-content
          p.comments-content__text Такого говнища в жизни не читал. Я канеш люблю искусство, но эта статья параша немытой залупы. Аффтар на бутылку сядет и будет писать только говном на стене тюремной камеры.
          .comments-feedback Ответить
          input(type="text").comments-add
        .comments-item
          .comments-head
            .comments-user
              .comments-user__image(style="background-image: url('assets/images/mini-ava-4.jpg')")
                span.blue
                  img(src="assets/images/emoji/D83CDFA9.png")
              .comments-user-info
                p.comments-user__title Димон Боровистов
                p.comments-user__text Диванный критик
        
            .comments__date 02.01.2019
          .comments-content
            p.comments-content__text Такого говнища в жизни не читал. Я канеш люблю искусство, но эта статья параша немытой залупы. Аффтар на бутылку сядет и будет писать только говном на стене тюремной камеры.
            .comments-feedback Ответить
            input(type="text").comments-add
        .comments-item
          .comments-head
            .comments-user
              .comments-user__image(style="background-image: url('assets/images/mini-ava-4.jpg')")
                span.blue
                  img(src="assets/images/emoji/D83CDFA9.png")
              .comments-user-info
                p.comments-user__title Димон Боровистов
                p.comments-user__text Диванный критик
        
            .comments__date 02.01.2019
          .comments-content
            p.comments-content__text Такого говнища в жизни не читал. Я канеш люблю искусство, но эта статья параша немытой залупы. Аффтар на бутылку сядет и будет писать только говном на стене тюремной камеры.
            .comments-under Димону Боровистову
            .comments-feedback Ответить
            input(type="text").comments-add
            
      .comments-item
        .comments-head
          .comments-user
            .comments-user__image(style="background-image: url('assets/images/mini-ava-2.jpg')")
              span.green
                img(src="assets/images/emoji/26F8.png")
            .comments-user-info
              p.comments-user__title Ольга Тихонова
              p.comments-user__text Зови меня «Солнышко» 
          
          .comments__date 02.01.2019
        .comments-content
          p.comments-content__text Такого говнища в жизни не читал. Я канеш люблю искусство, но эта статья параша немытой залупы. Аффтар на бутылку сядет и будет писать только говном на стене тюремной камеры.
          .comments-feedback Ответить
          input(type="text").comments-add
        //- .comments-item
        //-   .comments-head
        //-     .comments-user
        //-       .comments-user__image(style="background-image: url('assets/images/mini-ava-4.jpg')")
        //-         span.blue
        //-           img(src="assets/images/emoji/D83CDFA9.png")
        //-       .comments-user-info
        //-         p.comments-user__title Димон Боровистов
        //-         p.comments-user__text Диванный критик
        //- 
        //-     .comments__date 02.01.2019
        //-   .comments-content
        //-     p.comments-content__text Такого говнища в жизни не читал. Я канеш люблю искусство, но эта статья параша немытой залупы. Аффтар на бутылку сядет и будет писать только говном на стене тюремной камеры.
        //-     .comments-feedback Ответить
