section.content
  .wrap
    .content-info
      .content-autor
        .content-autor__image(style="background-image: url('assets/images/mini-ava-3.jpg')")
          span.blue
            img(src="assets/images/emoji/D83CDF77.png")
        .content-autor-wrap
          .content-autor__title Кирилл Герасимов
          .content-autor__status
            p Ты да ри тырилл
          .content-autor__line
      .content-social
        a(href="#").content-social__item
          p.content-social__text 12
          .content-social__icon
            svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#ffffff")
              path(d="M21.54736,7H18.25688a.74281.74281,0,0,0-.65452.39156s-1.31237,2.41693-1.73392,3.231C14.73438,12.8125,14,12.125,14,11.10863V7.60417A1.10417,1.10417,0,0,0,12.89583,6.5h-2.474a1.9818,1.9818,0,0,0-1.751.8125s1.25626-.20312,1.25626,1.48958c0,.41974.02162,1.62723.04132,2.64a.72943.72943,0,0,1-1.273.50431,21.54029,21.54029,0,0,1-2.4982-4.54359A.69314.69314,0,0,0,5.5668,7C4.8532,7,3.42522,7,2.57719,7a.508.508,0,0,0-.47969.68481C3.00529,10.17487,6.91576,18,11.37917,18h1.87865A.74219.74219,0,0,0,14,17.25781V16.12342a.7293.7293,0,0,1,1.22868-.5315l2.24861,2.1127A1.08911,1.08911,0,0,0,18.223,18h2.95281c1.42415,0,1.42415-.98824.64768-1.75294-.54645-.53817-2.51832-2.61663-2.51832-2.61663A1.01862,1.01862,0,0,1,19.2268,12.307c.63737-.83876,1.67988-2.21175,2.122-2.79993C21.95313,8.70313,23.04688,7,21.54736,7Z")
        a(href="#").content-social__item
          p.content-social__text 512
          .content-social__icon
            svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#ffffff")
              path(d="M16.75,9H13.5V7a1,1,0,0,1,1-1h2V3H14a4,4,0,0,0-4,4V9H8v3h2v9h3.5V12H16Z")
        a(href="#").content-social__item
          p.content-social__text 1
          .content-social__icon
            svg(height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#ffffff")
              circle(cx="16" cy="8" r="4")
              path(d="M12.58331,8.83331C12.37488,8.83331,12,9.26563,12,9.5A8.5,8.5,0,0,1,3.5,18a8.52217,8.52217,0,0,1-1.28479-.1073A11.41717,11.41717,0,0,0,20,8.41663C20,7.681,15.31757,8.83331,12.58331,8.83331Z")
              path(d="M12.58331,8.83331a11.385,11.385,0,0,1-8.69452-4.028A3.93758,3.93758,0,0,0,3.35,6.77081,3.9792,3.9792,0,0,0,7.32916,10.75c2.12482,0,5.89844.02264,6.14691-1.96179C13.18054,8.81116,12.8847,8.83331,12.58331,8.83331Z")
              path(d="M5.24585,10.04163a3.93437,3.93437,0,0,1-1.88977-.49774c-.00031.02057-.0061.03961-.0061.06024a3.9792,3.9792,0,0,0,3.97919,3.97919c2.19763,0,5.275-1.594,5.275-3.79165C12.60417,8.282,7.42285,10.04163,5.24585,10.04163Z")
              path(d="M7.72642,12.99649a3.90991,3.90991,0,0,1-3.02909.52286A3.96636,3.96636,0,0,0,8.49585,16.375a5.25835,5.25835,0,0,0,4.67082-4.66667C13.16667,9.81478,8.82831,12.28888,7.72642,12.99649Z")
              path(d="M17.61041,5.37915c-1.32214,0-1.63562,1.6604.075,1.6604a3.96629,3.96629,0,0,0,3.754-2.71222A7.49909,7.49909,0,0,1,17.61041,5.37915Z")
              path(d="M18.82916,6.5354a7.52209,7.52209,0,0,1-2.93716-.593c-2.70831-1.14551-4.35526,3.343-.18784,3.343A7.53392,7.53392,0,0,0,22.05579,5.803,7.50268,7.50268,0,0,1,18.82916,6.5354Z")
    .content-body
      h1 Абсурдно об абсурде: кулинарный юмор - только начало.
      p Примечательно, что я уже было закончил эту статью, как свет в квартире мигнул. Ну и комп, разумеется, вырубился. Не сохранился весь первоначальный текст. «Судьба» - подумал я, и продолжил заниматься своим любимым делом. Ничем.
      p Но порассуждать об абсурде все же следует. Вы когда-нибудь поливали кетчупом печенье в шоколадной глазури, чтобы потом съесть? Пропробуйте обязательно. Не сказать, что это невероятно вкусно, но это достаточно смешно. Да, смешно. А с чего вы решили что юмор может быть только в словах, гримасах, или действиях? Эту странную консистенцию можно передать и через вкус.
      .content__image
        img(src="assets/images/content-3.jpg")
        p Здесь могли быть печеньки с кетчупом.
      h4 И вот вы обрадовались этой мысли, о печении с кетчупом, хоть вы и не прочли еще эту статью, как вдруг чертыхаетесь, ушибая жопу о гололед.
      p Хочется разозлиться и проклинать службы, которые должны заботиться о пригодности дорог для передвижения. Но это вам сил не придаст, там уже давно никто не работает, ведь на зарплату, получаемую в здешних службах, едва хватит на кубик галоперидола, который потребуется в нейтрализации буйного помешательства в обвинении других служб и поиске еще пары сотен виноватых во всеобщей разрухе. Хотя нет, не потребуется галоперидол покупать. Его ведь и не купить в аптеке, на сколько я знаю. Так бы уже закупился, хотя и не дворник.Хороче хуй, что на эту зарплату купишь.
      p Так вот. Вы на холодном гололеде, жопа мокреет, ведь на льду еще и снег. А снег коричневый, перемешанный с грязью . Мерзко. Казалось бы позитивный настрой уже потерян, и не чем его уже не вернуть. Но ведь у вас под боком столовая. Идите туда, закажите дешевого кофе, две порции сахара и майонеза. Не будет майонеза – возьмите сметаны. Но ни в коем случае не берите сливок. Оставьте это декаданство всяким мажорикам с Рублевки, которые могут приободрить себя сжиганием денег в собственном камине. Ну как? Не вкусно? ЧТОО? Не смешно? Ну право, я тогда и не знаю, как вы вообще еще в России живете. Хорошо, тогда вот тебе следующий план действий.
      p Приходишь домой. Делаешь печенье с кетчупом. Пробуешь. Если тоска очень сильна, то это совершенно не насмешит тебя. Но безвыходных ситуаций не бывает. Хотя нет … бывает. Врубай ютуб, короче говоря, деградируй, а потом делай массовый контент.
      .content__image
        img(src="assets/images/content-5.jpg")
        p Рассеянская тоска.
      bloquote Приходишь домой. Делаешь <a href="https://www.edimdoma.ru/retsepty/117236-syrnoe-pechenie-s-ketchupom">печенье с кетчупом.</a> Пробуешь. Если тоска очень сильна, то это совершенно не насмешит тебя. Но безвыходных ситуаций не бывает. Хотя нет … бывает. Врубай ютуб, короче говоря, деградируй, а потом делай массовый контент.
      p И вот ты уже на гребне финансовой волны и успешно рекламируешь северокорейские ресторанчики. Еще бы, ведь ты предлагаешь скидку в по промокоду «Сельское Ким Ир Сено». Рекламируешь ноутбуки, китайские телефоны. Все в ажуре. Но вот с головой что-то не так, и общаться уже можешь только с туповатыми школьниками. Что делать. Жди зимы? Благо гололед будет все там же. Да и везде подскальзываешься. Мочишь жопу. И умираешь…. Нет, это из другой оперы. Ломаешь таз. Идешь в магазин хозяйственных товаров. И теперь у тебя новый таз. Браво. Так, а что с мозгами-то?
      p Впрочем остаться безмозглым в наше время уже совершенно не страшно. Главное волосы в микроволновой печи не сушить, а так можно дожить и до глубокой старости. А там счастливый маразм, в который врывается Сталин. С репрессиями, прикольной архитектурой и пропагандой. Сталин для тебя будет хорош, потому что в маразме Сталин хорош всегда.
      p Похоже что я разрисовал жизнь одного среднестатистического человека. Или он саким среднестатистическим стал из-за моих советов. Вероятно. А может и нет. А может селедка малопросоленная оказалась, и водка из желудка просится наружу вместе с чебупелями по акции.
      bloquote Кто знает. Все относительно, абсолютной истинны нет, никто не назовет себя злодеем, все мнят себя добром.
      h2 А вообще-то смысл в движении к противоположности.
      p Вот стал ты успешным ютьюбером, таз себе обновил. Но рано или поздо захочется спать. Раскладываешь диван, укрываешься одеялом и погружаешься в сон. А во сне же всегда дичь какая-то. И что делать. Абсурдом себя уже не приободришь, не развеселишь. Тут и без того бродишь по центре Петербурга и слушаешь какую-то чушь про грядущий апокалипсис,какие-то конспирологические теории несусветные слушаешь. Поворачиваешь голову. А с тобой сам Николас Кейдж. Невольно вспоминаешь добрый процент фильмов с ним и понимаешь, что сейчас будет второсортная мистика. И да мистика случается, но видит ее только дружище Николас и убегает выискивать криптограммы святого грааля к бичам на Владимирской площади.
      p Два часа дня, тепло. И ночь настает и опять день. И снова ночь. Цикл дня, видать, ускорился, и в сутках теперь не 24 часа, но 6 секунд. Смотришь на верх. Солнечный шарик выйдя из-за одного здания сразу же оказывается за следущим. Огибает дугу, будто камень, летящий в чье-то окно. Окно разбивается. Из окна глядит разъяренная женщина:
      ul
        li Тебе чего
        li А Димка выйдет погулять
        li Дима назаработки пошел, чтобы стекло новое купить
        li Пусть мячик вынесет
        li Никакого мячика, пока Николас Кейдж обратно в свой пиндостан не уберется
      p Ты все на той же площади и видишь, что на небе появляются планеты. Все синие, как медный купорос. И вращаются в каком-то космическом танце и солнце все быстрее и быстрее огибает землю. И уже пофиг на тот факт, что земля огибает Солнце. Как-то паникуешь, бежишь к Николасу и говоришь ему
      ul
        li Николас, помоги!
      p Но у Николаса уже появляется хромосома православия, он покупает себе поддержанную шестерку, и уезжает, бустив вонючий клубок дыма. А перед этим еще и на <span>заднее стекло наклеил «1941-1945. Можем повторить».</span> Ебааать, хочется проснуться и съесть тонну печенюшек с кетчупом.
      p Просыпаешься в холодном поту и понимаешь «Как прекрасно, что я могу быть абсурднее мира».
