footer.footer
  .wrap
    .footer__title Самогонъ
    .footer-body
      ul.footer-list
        li.footer-item Рубрики
        li.footer-item
          a(href="#") Наука
        li.footer-item
          a(href="#") Искусство
        li.footer-item
          a(href="#") Идеи
        li.footer-item
          a(href="#") Жизнь
        li.footer-item
          a(href="#") Подкасты
          
      ul.footer-list
        li.footer-item Социальные сети
        li.footer-item
          a(href="#") ВКонтакте
        //- li.footer-item
        //-   a(href="#") Telegram
        li.footer-item
          a(href="#") Facebook
        li.footer-item
          a(href="#") Twitter
        //- li.footer-item
        //-   a(href="#") Instagram
          
      ul.footer-list
        li.footer-item О нас
        li.footer-item.disabled
          a(href="#") О проекте
        //- li.footer-item
        //-   a(href="#") Сделать вклад
        li.footer-item.disabled
          a(href="#") Стать автором
        li.footer-item.disabled
          a(href="#") Вакансии
        li.footer-item.disabled
          a(href="#") Контакты
          
      ul.footer-list
        li.footer-item Реклама
        li.footer-item.disabled
          a(href="#") О рекламе на "Самогонъ"
        li.footer-item.disabled
          a(href="#") Прайс лист
        li.footer-item.disabled
          a(href="#") Примеры рекламы
        li.footer-item.disabled
          a(href="#") Подать заявку
    
    .footer-bottom
      .footer-copyright © copyright 2019
      .footer-autor Сайт сделан
