section.searching#searching
  .wrap
    h2.searching-title Кто ищет, тот всегда найдет что искать.
    input(type="search").searching-input
    
    .searching-close.searching-switch
      svg(xmlns:xlink="http://www.w3.org/1999/xlink" fill="#ffffff" enable-background="new 0 0 100 100" id="Layer_1" version="1.1" viewBox="0 0 100 100" xml:space="preserve")
        polygon(points="77.6,21.1 49.6,49.2 21.5,21.1 19.6,23 47.6,51.1 19.6,79.2 21.5,81.1 49.6,53 77.6,81.1 79.6,79.2   51.5,51.1 79.6,23 ")
    
    .searching-results
      .article
        .article-container
          .article__date 5 минут назад
          .article-user
            .article-user__image(style="background-image: url('assets/images/mini-ava.jpg')")
            .article-user__title Алексей Чернов
          h2.article__title Самогон - хороший способ справиться со всем.
          
          .article-tag
            .article-tag__item жизнь
      .article
        .article-container
          .article__date 15 минут назад
          .article-user
            .article-user__image(style="background-image: url('assets/images/mini-ava.jpg')")
            .article-user__title Алексей Чернов
          h2.article__title Ткаха, блогерша и новая глава города. Почему феминитивы были, есть и будут органичной частью русского языка
          
          .article-tag
            .article-tag__item.green искусство
      .article
        .article-container
          .article__date 50 минут назад
          .article-user
            .article-user__image(style="background-image: url('assets/images/mini-ava.jpg')")
            .article-user__title Алексей Чернов
          h2.article__title Самогон - хороший способ справиться со всем.
          
          .article-tag
            .article-tag__item.red истории
