section.welcome
  .wrap
    h1.welcome-title Абсурдно об абсурде: <br>кулинарный юмор - только начало.
    h1.welcome-text Как же все заебало, бл#дь.
    .welcome-tags
      .welcome-tags__item.red #искусство
      .welcome-tags__item.green #жизнь
      a(href="http://samogon.media/category/psihologiya/").article-tag__item.green Психология
    
    .welcome-info
      .welcome-info__item
        img(src="assets/images/calendar.svg" width="20px")
        p 2 января
      .welcome-info__item
        img(src="assets/images/eye-w.svg" )
        p 10029
      .welcome-info__item
        img(src="assets/images/chat.svg" width="20px")
        p 6
