extends ../layouts/default

block head

block content
	include ../blocks/header
	
	main.main
		#app
		.title
			h1.title__text Перетащи фигуру в центр
		.area
			.area__circle
		include ../blocks/info
	//- 
	//- include ../blocks/footer

	+script('common.min')
	+script('main')
